/* Main ================================================================================= */
* { 
    margin:0; 
    padding:0; 
}
html, body{height:100%;
margin:0;
padding:0;}
body{ 
    
    font:Arial, Helvetica, sans-serif; 
    font-size: 75%; /*12px anstatt standard 16px*/
    width: 100%;
    padding: 0;
    
}
a{
    font-size: 120%;
    letter-spacing: 0.07em;
}
li {
    list-style: none;
}
/*========================================================================================= */

/* responsive Layout ================================================================================ */
.wrapper {
    position: relative;
    width: 100%;
    min-height:100%;
    height:auto !important;
    height:100%;
    
    color:#2f2f2f; 
    background-color: #F2ECBD;
    background-image: -webkit-linear-gradient(bottom, #FAF8ED, #DBD079);
    background-image: -moz-linear-gradient(bottom, #FAF8ED, #DBD079);
    background-image: -ms-linear-gradient(bottom, #FAF8ED, #DBD079);
    background-image: -o-linear-gradient(bottom, #FAF8ED, #DBD079);
}
.page{
    position: relative;
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height:auto !important; /* Important Regel für moderne Browser */ 
    height:100%; /* Mindesthöhe für den IE */  
    padding-bottom: 130px; /*to prevent footer from overflow content*/
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
}
.flexible-main-container-home{
    display: flex; /*Darstellung der Items in einer Reihe*/
    flex-direction: column; /*bestimmt Richtung der main-axis*/
    flex-wrap: nowrap; /*Single line*/
    justify-content: center;
    align-items: center;

    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: nowrap;
    -moz-box-direction: column;
    -moz-justify-content: center;
    -moz-align-items: center;
}
.flexible-main-parent-container{
    display: inline-flex; /*Darstellung der Items in einer Reihe*/
    flex-direction: row; /*bestimmt Richtung der main-axis*/
    flex-wrap: nowrap; /*Single line*/
    justify-content: flex-start;
    align-items: flex-start;

    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;

    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: nowrap;
    -moz-box-direction: row;
    -moz-justify-content: flex-start;
    -moz-align-items: flex-start;
}
.left-sidebar{
    max-width: 20%;
    min-width: 10%;
    background-color: #F7EEEB;
    border: 1% solid #DEDCDC;
}
.right-sidebar{
    max-width: 20%;
    min-width: 10%;
    background-color: #F7EEEB;
    border: 1% solid #DEDCDC;
}

.catalog-product-view .main-container{
    clear: both;
    width: 95%;
    margin-left: 2.5%;
}

/* Breadcrumbs ================================================================================ */
.breadcrumbs{
    padding-bottom: 20px;
}
/* ======================================================================================= */

/* Header ================================================================================ */
.top-links li {
    display:inline;
    padding-right: 2%;
}
#cart-icon img{
    display: none;
}
.open-menu-button, .close-menu-button{
    display: none;
}
.toplinks-flex-parent-container{
    display: flex; /*Darstellung der Items in einer Reihe*/
    flex-direction: row; /*bestimmt Richtung der main-axis*/
    flex-wrap: nowrap; /*Single line*/
    justify-content: center;
    align-items: center;

    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: nowrap;
    -moz-box-direction: row;
    -moz-justify-content: center;
    -moz-align-items: center;
}
.toplinks-flex-parent-container div, .toplinks-flex-parent-container li{
    padding-right: 20px;
}

/* flex header =========================================================================== */
.header-flex-parent-container{
    padding-top: 10px;
    
    display: inline-flex; /*Darstellung der Items in einer Reihe*/
    flex-direction: row; /*bestimmt Richtung der main-axis*/
    flex-wrap: nowrap; /*Single line*/
    justify-content: space-around; /*float der items*/
    align-items: center; /*vertikales float der items in row*/
    
    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    
    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: nowrap;
    -moz-box-direction: row;
    -moz-justify-content: space-around;
    -moz-align-items: center;
}
.header-flex-child-nav{
    /*flex-grow: 1; Spalte für nav größer als andere*/
    text-align: center;
    
    /*für Google Chrome
    -webkit-flex-grow: 1;*/
    
    /*für Firefox
    -moz-flex-grow: 1;*/
}

/* search form in header ================================================================================ */
.search-flex-parent-container{
    margin-top: 20px;
    display: inline-flex; /*Darstellung der Items in einer Reihe*/
    flex-direction: row; /*bestimmt Richtung der main-axis*/
    flex-wrap: nowrap; /*Single line*/
    justify-content: space-around; /*float der items*/
    align-items: flex-end; /*vertikales float der items in row*/
    
    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: flex-end;
    
    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: nowrap;
    -moz-box-direction: row;
    -moz-justify-content: space-around;
    -moz-align-items: flex-end;
}


/* Footer ================================================================================ */

.footer-flex-parent-container, .footer-cms-flex-parent-container{
    margin-top: 20px;
    display: inline-flex; /*Darstellung der Items in einer Reihe*/
    flex-direction: row; /*bestimmt Richtung der main-axis*/
    flex-wrap: wrap; /*Single line*/
    justify-content: space-around; /*float der items*/
    
    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    
    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: wrap;
    -moz-box-direction: row;
    -moz-justify-content: space-around;
}
#footer_adress{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
/* ======================================================================================= */

/* Carousel ================================================================================ */
/* Carousel base class */
.carousel-figure{
    
}
.home-slider-wrapper{
    
}
.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 100%;
    /*height: 500px;*/
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    /*height: 500px;*/
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}




/* Catalog Product View ===================================================== */

.product-type-data-wrapper{
    border: 1px solid black;
}
.product-name h1{
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: #D6CECE 3px 2px;;
}

.flexible-product-shop-parent-container{
    display: flex-inline;
    flex-direction: row;
    justify-content: space-around; 
    
    /*Chrome*/
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    
    /*Firefox*/
    display: -moz-box;
    -moz-box-direction: row;
    -moz-justify-content: space-around;
}
.flexible-product-information{
    flex-grow: 2;
    
    /*für Google Chrome*/
    -webkit-flex-grow: 2;
    
    /*für Firefox*/
    -moz-flex-grow: 2;
}
.add-to-cart input{
    width: 70px;
}
.link-wishlist{
    float: left;
}

/* Product Images ===================================================== */
.product-img-box{
    margin: 0 10% 0 10%;
}
.es-carousel ul li{
    height: auto !important;
}

/* Categories on home page ================================================================ */
/*flex variante*/
.home-categories-flex-parent-container{
    display: flex-inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch;
    align-content: space-around;
    
    /*Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: stretch;
    -webkit-align-content: space-around;
    
    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: wrap;
    -moz-box-direction: row;
    -moz-justify-content: space-around;
    -moz-align-items: stretch;
    -moz-align-content: space-around;
}
.home-categories-flex-item{
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #630B20;
    background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
    background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
    background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
    background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
}
.home-categories-flex-item:hover{
    background-color: #630B20;
    background-image: -webkit-linear-gradient(top, #FADCE3, #FABECC);
    background-image: -moz-linear-gradient(top, #FADCE3, #FABECC);
    background-image: -ms-linear-gradient(top, #FADCE3, #FABECC);
    background-image: -o-linear-gradient(top, #FADCE3, #FABECC);
}
.category-name h4{
    /*font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;*/
    text-align: center;
    font-weight: bold;
}
.category-name span{
    display: none;
}
.home-categories-flex-item .category-image{
    display: block;
}

/* Category product top ================================================================ */
.page-title h1{
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: #D6CECE 3px 2px;;
}
.pages{
    text-align: center;
}

/* Category product toolbar ================================================================ */
.toolbar-flex-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /*Chrome*/
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    
    /*Firefox*/
    display: -moz-box;
    -moz-box-direction: column;
    -moz-justify-content: center;
}
.toolbar-flex-parent-container .limiter select{
    width: 80px;
}
.sort-by label, .limiter label{
    float: left;
    padding-top: 5px;
    padding-right: 2px;
}
.pages-amount{
    text-align: center;
}
.toolbar-select-menus .limiter{
    float: left;
}
.toolbar-select-menus .sorter{
    float: left;
}
.toolbar-select-menus .limiter, .toolbar-select-menus .sorter{
    text-align: center;
    width: 50%;
}


/* Category product grid ================================================================ */
/*flex variante*/
.products-grid-flex-parent-container{
    
    margin-left: 5%;
    
    display: flex-inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: stretch;
    align-content: stretch;
    
    /*Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-align-items: stretch;
    -webkit-align-content: stretch;
    
    /*Firefox*/
    display: -moz-box;
    -moz-box-wrap: wrap;
    -moz-box-direction: row;
    -moz-justify-content: flex-start;
    -moz-align-items: stretch;
    -moz-align-content: stretch;
}
.products-grid-flex-item{
    width: 20%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 1px solid #D6CECE;
    background-color: #FCF7F7;
}
.products-grid-wrapper{
    /*height: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #D6CECE;*/
}
.category-products{
    text-align: center;
}

/* Category filter menu ======================================================== */
.catalog-category-view .left-sidebar{
    width: 30%;
}
.catalog-category-view .right-sidebar{
    width: 30%;
}
.filter-menu-trigger-selector{
    display: none;
}
#filter-menu-selector{
    margin-left: 10px;
}
#filter-menu-selector{
    display: block;
}




