body{
    padding: 0;
}

/* Top links ================================================================================ */
@media screen and (max-width: 600px) {
    #cartDiv{
        width: 40px;
        height: 30px;
        cursor: pointer;
        margin: 2% 5% 0 2%;
    }
    #cart-icon img{
        display: block;
        float: left;
    }
    #cart-text{
        display: none;
    }
    
    #naviDiv{
        width: 40px;
        height: 30px;
        background: url(../images/menu_icon_tall.png) no-repeat scroll 10px center /*#ECEBEB*/;
        cursor: pointer;
    }
    
    .top-links {
        clear: both;
        position: absolute;
        top: 38px;
        width: 160px;
        z-index: 10000;
        padding: 5px;
        background: #f8f8f8;
        margin: 0;
        display: none;
    }
    
    
    /* flex header =========================================================================== */
.header-flex-child-nav{
    order: 1; /*an erste stelle verschieben*/
    flex-grow: 0; /*Spalte für nav wieder kleiner*/
    
    /*für Google Chrome*/
    -webkit-flex-grow: 0;
    -webkit-order: 1;
}
.header-flex-child-logo{
    order: 2; /*an erste stelle verschieben*/
    
    /*für Google Chrome*/
    -webkit-order: 2;
}
.header-flex-child-cart{
    order: 3; /*an erste stelle verschieben*/
    
    /*für Google Chrome*/
    -webkit-order: 3;
}
    
    
    
    .home-slider{
        display: none;
    }
    
/* Reviews on product page ================================================================================ */

    .add-review-icon{
        width: 35px;
        height: 30px;
        background: url(../images/add_icon_tall.png) no-repeat scroll 5px center #ECEBEB;
        cursor: pointer;
        border: solid 1px #666;
        border-radius: 5px;
    }
    
    .add-review-icon{
        float: left;
    }
    #product-description-header, #product-additional-header{
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
        width: 100%;
        height: 30px;
    }
    #product-description-header:hover, #product-additional-header:hover{
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -moz-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -ms-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -o-linear-gradient(top, #FADCE3, #FABECC);
        color: #111;
    }
    #product-description-header span, #product-additional-header span{
        clear: both;
        float: none;
        font-size: 12pt;
    }
    #product-description-header img, #product-additional-header img{
        width: 30px;
        height: 20px;
        margin: 5px 10px 5px 0;
        float: right;
    }
    #description-content-hidden{
        display: none;
    }
    #product-attribute-specs-table{
        display: none;
    }
    #description-down-icon, #additional-down-icon{
        cursor: pointer;
    }
    .product-img-box{
        width: 80%;
        margin-left: 10%;
    }
    .short-description{
        margin: 0 10px 0 10px;
        /*font-family: sans-serif;*/
        font-size: 1.166666667em; /*14px / 12px*/
    }
    .add-to-cart input{
        width: 30%;
    }
    .bjqs li img{
        width: 10%;
    }
    
    
    /* Category Divs ======================================================= */
    /*flex variante*/
    .home-categories-flex-parent-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        flex-wrap: nowrap;
        
        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;
        -webkit-flex-wrap: nowrap;
    }
    .home-categories-flex-item .category-image{
        display: none;
    }
    .home-categories-flex-item a{
        text-decoration: none;
    }
    .category-image{
        display: none;
    }
    .category-name h4{
        color: #b94a48;
        text-align: left;
        font-weight: normal;
    }
    .category-name{
        float: none;
        color:#fff;
        padding: 0.75em 5%;
        display: block;
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    }
    .category-name:hover{
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -moz-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -ms-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -o-linear-gradient(top, #FADCE3, #FABECC);
        color: #111;
    }
    .category-name span{
        display: block;
        float: right;
    }
    
  /* Footer ======================================================= */
  .footer-flex-parent-container, .footer-cms-flex-parent-container{
    display: flex-inline; /*Darstellung der Items in einer Reihe*/
    flex-direction: row; /*bestimmt Richtung der main-axis*/
    flex-wrap: wrap; /*Single line*/
    justify-content: flex-start; /*float der items*/
    
    /*für Google Chrome*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    
    /*für Firefox*/
    display: -moz-box;
    -moz-box-wrap: wrap;
    -moz-box-direction: row;
    -moz-justify-content: flex-start;
}
.footer-flex-item, .footer-cms-flex-item{
    width: 50%;
}
  
  /* Catalog default page ======================================================= */
  .limiter select{
      width: 30%;
  }
  .products-grid-flex-item{
    width: 50%;
    text-align: center;
}
  
  /* Home slider ======================================================= */
  .carousel {
      margin-left: -20px;
      margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
      height: 300px;
  }
  .carousel img {
      height: 300px;
  }
  .carousel-caption {
      width: 65%;
      padding: 0 70px;
      margin-top: 100px;
  }
  .carousel-caption h1 {
      font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
      font-size: 18px;
  }

  /* Category product grid ================================================================ */
  /* grid4 */
  .grid4 .col {
      width: 48.4%;
  }
  .grid4 .col:nth-of-type(3n+1) {
      margin-left: 3.2%;
      clear: none;
  }
  .grid4 .col:nth-of-type(2n+1) {
      margin-left: 0;
      clear: left;
  }
}