@media screen and (max-width: 800px) {
    /* Top links =========================================================== */
    #cartDiv{
        width: 40px;
        height: 30px;
        cursor: pointer;
        margin: 2% 5% 0 2%;
    }
    #cart-icon img{
        display: block;
        float: left;
    }
    #cart-text{
        display: none;
    }
    .toplinks-flex-parent-container{
        display: flex; /*Darstellung der Items in einer Reihe*/
        flex-direction: column; /*bestimmt Richtung der main-axis*/
        flex-wrap: wrap; /*Single line*/
        align-items: center;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-align-items: center;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: column;
        -moz-align-items: center;
    }
    .toplinks-flex-parent-container div, .toplinks-flex-parent-container li{
        padding-top: 5px;
        width: 100%;
        text-align: center;

        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    } 
    .toplinks-flex-parent-container div:hover, .toplinks-flex-parent-container li:hover{        
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    } 

    /*variante aus dem buch*/
    .page-wrapper{
        position: relative;
        padding-top: 1px; /*verhindert das rutschen*/
    }
    #nav-wrap{
        left: 0;
        position: absolute;
        top: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: #474024;
    }
    .close-menu-button{
        display: none;
    }
    /*open menu*/
    #menu-open:target #nav-wrap{
        height: 5rem;
    }
    #menu-open:target .header-flex-parent-container{
        margin-top: 5rem; /*Seite nach unten schieben, wegen einblenden der navi*/
    }
    #menu-open:target .close-menu-button{
        display: block;
    }
    #menu-open:target .open-menu-button{
        display: none;
    }
    /*close menu*/
    #menu-close:target #nav-wrap{
        height: 0;
    }
    #menu-close:target .header-flex-parent-container{
        margin-top: 0; /*Seite nach unten schieben, wegen einblenden der navi*/
    }
    #nav-wrap, .header-flex-parent-container{
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    }

    /* flex header =========================================================================== */
    .header-flex-child-nav{
        order: 1; /*an erste stelle verschieben*/
        flex-grow: 0; /*Spalte für nav wieder kleiner*/

        /*für Google Chrome*/
        -webkit-flex-grow: 0;
        -webkit-order: 1;
    }
    .header-flex-child-logo{
        order: 2; /*an erste stelle verschieben*/

        /*für Google Chrome*/
        -webkit-order: 2;
    }
    .header-flex-child-cart{
        order: 3; /*an erste stelle verschieben*/

        /*für Google Chrome*/
        -webkit-order: 3;
    }
}    