@charset "UTF-8";
@media screen and (min-width: 800px) {
  /*@mixin flex-space-between-mixin{
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
  }*/
  /*@mixin flex-start-mixin{
      align-items: flex-start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
  }*/
  /*@mixin flex-space-around-mixin{
      justify-content: space-around;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
  }*/
  /*@mixin flex-justify-content-flex-end-mixin{
      justify-content: flex-end; 
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
  }*/
  /*@mixin flex-align-items-flex-end-mixin{
      align-items: flex-end; 
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
  } */
  /* MAIN ================================================================ */
  body {
    font-size: 100%;
    /*setzt Standardgröße auf 14px*/ }

  h1 {
    font-size: 36px;
    font-size: 2.25rem; }

  h2 {
    font-size: 28px;
    font-size: 1.75rem; }

  h3 {
    font-size: 24px;
    font-size: 1.5rem; }

  h5, h5 a {
    font-size: 21px;
    font-size: 1.3125rem; }

  h6 {
    font-size: 18px;
    font-size: 1.125rem; }

  /* ====================================================================== */
  /* LAYOUT ================================================================================ */
  .flexible-main-parent-container {
    padding-bottom: 130px;
    /*to prevent footer from overflow content*/ }

  .main-container {
    margin-left: 2%;
    margin-right: 2%; }

  footer {
    height: 130px; }

  .right-sidebar .actions button {
    padding: 5px;
    border-radius: 5px; }

  .block-compare {
    padding: 5px;
    box-shadow: 0px 2px 10px grey;
    /*        border: 0.2px solid grey;
            box-shadow: 5px 5px 5px grey;*/ }

  .block-cart {
    margin-top: 20px;
    padding: 5px;
    box-shadow: 0px 2px 10px grey;
    /*        border: 0.2px solid grey;
            box-shadow: 5px 5px 5px grey;*/ }

  /* ========================================================================================= */
  /* HEADER ================================================================================ */
  .top-links li {
    display: inline;
    padding-right: 2%; }

  #cart-icon img {
    display: none; }

  .open-menu-button, .close-menu-button {
    display: none; }

  .header-flex-child-nav nav {
    display: flex;
    /*Firefox*/
    display: -webkit-flex;
    /*Chrome*/
    /*   display: -moz-box; 
      display: -ms-flexbox;
      display: -ms-flex;
      display: -webkit-box;*/
    flex-direction: row;
    -webkit-flex-direction: row;
    /*    -moz-box-direction: row;
        -ms-box-orient: horizontal;
        
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;*/
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-box-wrap: nowrap;
    justify-content: center;
    /*Firefox*/
    -webkit-justify-content: center;
    /*Chrome*/
    /*-moz-justify-content: $value;
    -ms-justify-content: $value;
    -ms-box-pack: $value;*/
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-box-align: center; }

  .header-flex-child-nav nav div, .header-flex-child-nav nav li {
    padding-right: 20px; }

  .header-flex-child-logo {
    /*        background-image:url(../images/logo_tall.png); 250px mal 85px
            background-repeat: no-repeat;
            height: 85px;*/ }

  /* ======================================================================================= */
  /* FOOTER ================================================================================ */
  .footer-flex-parent-container, .footer-cms-flex-parent-container {
    margin-top: 20px;
    display: flex;
    /*Firefox*/
    display: -webkit-flex;
    /*Chrome*/
    /*   display: -moz-box; 
      display: -ms-flexbox;
      display: -ms-flex;
      display: -webkit-box;*/
    flex-direction: row;
    -webkit-flex-direction: row;
    /*    -moz-box-direction: row;
        -ms-box-orient: horizontal;
        
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;*/
    /*@include flex-wrap-mixin;*/
    justify-content: space-around;
    /*Firefox*/
    -webkit-justify-content: space-around;
    /*Chrome*/
    /*-moz-justify-content: $value;
    -ms-justify-content: $value;
    -ms-box-pack: $value;*/ }

  /* ======================================================================================= */
  /* BREADCRUMBS ================================================================================ */
  .breadcrumbs {
    margin-left: 1.5%; }

  /* ======================================================================================= */
  /* PRODUCT PAGE ================================================================== */
  .product-name h1 {
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: #D6CECE 3px 2px; }

  .product-description-and-stock-wrapper .short-description {
    width: 50%; }

  .product-description-and-stock-wrapper .product-type-data-wrapper {
    margin: 20px 0;
    padding: 5px; }

  .product-description-and-stock-wrapper .short-description,
  .product-description-and-stock-wrapper .product-type-data-wrapper {
    float: left; }

  .add-to-box {
    clear: both; }

  .flexible-product-shop-parent-container {
    display: flex;
    /*Firefox*/
    display: -webkit-flex;
    /*Chrome*/
    /*   display: -moz-box; 
      display: -ms-flexbox;
      display: -ms-flex;
      display: -webkit-box;*/
    flex-direction: row;
    -webkit-flex-direction: row;
    /*    -moz-box-direction: row;
        -ms-box-orient: horizontal;
        
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;*/ }

  .flexible-product-information {
    flex-grow: 2;
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2; }

  .add-to-cart input {
    width: 70px; }

  .link-wishlist {
    float: left; }

  .flexible-related-parent-div input {
    width: 6%; }

  .flexible-related-parent-div .product-image {
    width: 30%; }

  .flexible-related-parent-div .product-details {
    width: 60%; }

  .add-to-box {
    clear: both; }

  .ratings {
    clear: both;
    margin-top: 20px; }

  .short-description {
    margin-bottom: 20px; }

  #description-down-icon, #additional-down-icon {
    display: none; }

  .product-collateral {
    clear: both; }

  /* ======================================================================================= */
  /* PRODUCT OPTIONS ======================================================================== */
  .product-options {
    clear: both; }

  .product-options dl {
    margin-bottom: 0; }

  .product-options select {
    width: auto; }

  .product-options-bottom .add-to-links {
    text-align: left;
    margin-left: 25%;
    margin-top: 10px; }

  /* ======================================================================================= */
  /* PRODUCT IMAGES ======================================================================== */
  .flexible-product-img-item {
    max-width: 40%; }

  .product-img-box {
    margin-right: 10%; }

  .es-carousel ul li {
    height: auto !important; }

  /* ======================================================================================= */
  /* PRODUCT REVIEWS ======================================================================== */
  .box-reviews table {
    width: 60%; }

  .box-reviews table th {
    width: 5%; }

  .box-reviews span {
    width: 10%;
    margin: 0 5px 0 5px; }

  .box-reviews tbody .value {
    text-align: center; }

  .box-reviews .form-list li {
    list-style: none; }

  .box-reviews .form-list em {
    margin-right: 5px; }

  .box-reviews .form-list label {
    font-weight: bold; }

  /* ======================================================================================= */
  /* CATEGORY DIV ON HOME PAGE ============================================================ */
  .home-categories-flex-container {
    clear: both;
    width: 100%; }

  .home-categories-flex-item {
    float: left;
    margin-left: 2%;
    margin-bottom: 30px;
    height: 250px; }

  .home-categories-flex-container .home-categories-flex-item {
    width: 23%; }

  .home-categories-flex-container .home-categories-flex-item:nth-of-type(4n+1) {
    margin-left: 0;
    clear: left; }

  /* clear col */
  /*    .home-categories-flex-container .home-categories-flex-item:nth-of-type(4n+1),
      .home-categories-flex-container .home-categories-flex-item:nth-of-type(3n+1),
      .home-categories-flex-container .home-categories-flex-item:nth-of-type(2n+1) {
              margin-left: 0;
              clear: left;
      }*/
  /*    .home-categories-flex-container .home-categories-flex-item:nth-of-type(4n+1) {
          margin-left: 3.2%;
          clear: none;
      }
      .home-categories-flex-container .home-categories-flex-item:nth-of-type(3n+1) {
          margin-left: 0;
          clear: left;
      }*/
  /*    .home-categories-flex-parent-container{
          @include inline-flex-mixin;
          @include flex-row-mixin;
          @include flex-wrap-mixin;
          @include flex-justify-content-mixin(space-around);
          @include flex-align-items-mixin(stretch);
          @include flex-align-content-mixin(space-around);
      }
      .home-categories-flex-item{
          width: 20%;
          padding: 2% 2.5% 2% 2.5%;
      }*/
  .category-name span {
    display: none; }

  .home-categories-flex-item .category-image {
    display: block; }

  .category-image img {
    max-width: 90%; }

  /* ======================================================================================= */
  /* PRODUCT TOP ================================================================ */
  .pages {
    text-align: center; }

  /* ======================================================================================= */
  /* PRODUCT TOOLBAR ================================================================ */
  .toolbar-flex-parent-container .limiter select {
    width: 80px; }

  .sort-by label, .limiter label {
    float: left;
    padding-top: 5px;
    padding-right: 2px; }

  .pages-amount {
    text-align: center; }

  .toolbar-select-menus .limiter {
    float: left; }

  .toolbar-select-menus .sorter {
    float: left; }

  .toolbar-select-menus .limiter, .toolbar-select-menus .sorter {
    text-align: center;
    width: 50%; }

  /* ============================================================================== */
  /* CATEGORY PRODUCT GRID ================================================================ */
  .products-grid-flex-parent-container {
    overflow: auto;
    /*        border-top: 1px solid grey;
            border-left: 1px solid grey;*/
    box-shadow: 0px 2px 10px grey;
    background-color: #ebe8ce;
    padding-top: 10px;
    /*        @include flex-mixin;
            @include flex-row-mixin;
            @include flex-wrap-mixin;
            @include flex-justify-content-mixin(flex-start);
            @include flex-align-items-mixin(stretch);
            @include flex-align-content-mixin(stretch);*/ }

  .products-grid-flex-item {
    /*        @include flex-mixin;
            @include flex-column-mixin;        
            width: 22%;
            min-width: 22%;
            text-align: center;
            padding: 10px 10px 10px 10px;
            border: 1px solid #D6CECE;
            background-color: #FCF7F7;*/
    float: left;
    margin-left: 2%;
    margin-bottom: 30px;
    height: 350px;
    text-align: center;
    width: 23%; }

  .products-grid-flex-item:nth-of-type(4n+1) {
    margin-left: 0;
    clear: left; }

  .products-grid-flex-item button {
    margin-top: auto; }

  .price-box .regular-price, .price-box .minimal-price {
    font-weight: bold; }

  .price-box .minimal-price {
    margin: 0; }

  #add-to-cart-icon {
    display: none; }

  /* CATEGORY FILTER MENU ======================================================== */
  .filter-menu-trigger-selector {
    display: none; }

  #filter-menu-selector {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0px 2px 10px grey;
    /*        border: 0.2px solid grey;
            box-shadow: 5px 5px 5px grey;*/ }

  /* ============================================================================== */
  /* CAROUSEL ===================================================================== */
  /* ============================================================================== */
  /* CART PAGE ========================================================================= */
  .flexible-checkout-parent-container {
    display: inline-flex;
    display: -webkit-flex;
    /*display: -moz-box;*/
    display: -ms-flexbox;
    display: -ms-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    /*    -moz-box-direction: row;
        -ms-box-orient: horizontal;
        
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;*/
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-box-wrap: nowrap;
    justify-content: flex-start;
    /*Firefox*/
    -webkit-justify-content: flex-start;
    /*Chrome*/
    /*-moz-justify-content: $value;
    -ms-justify-content: $value;
    -ms-box-pack: $value;*/
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-box-align: flex-start; }

  .cart #cart-item-form {
    box-shadow: 0 0 5px 5px grey;
    width: 80%; }

  /* ======================================================================================= */
  #shopping-cart-table button span {
    font-size: 1rem;
    font-family: 'kaffeesatzregular';
    letter-spacing: 0.05em; }

  .cart-delete-item-icon {
    display: none; }

  .cart-edit-item-icon {
    display: none; }

  /* ======================================================================================= */
  /* CART COUPON =========================================================================== */
  .checkout-coupon-wrapper {
    width: 80%;
    display: inline-flex;
    display: -webkit-flex;
    /*display: -moz-box;*/
    display: -ms-flexbox;
    display: -ms-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    /*    -moz-box-direction: row;
        -ms-box-orient: horizontal;
        
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;*/
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-box-wrap: nowrap;
    justify-content: flex-start;
    /*Firefox*/
    -webkit-justify-content: flex-start;
    /*Chrome*/
    /*-moz-justify-content: $value;
    -ms-justify-content: $value;
    -ms-box-pack: $value;*/
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-box-align: flex-start; }

  .checkout-coupon-wrapper #discount-coupon-form {
    width: 35%; }

  .checkout-coupon-wrapper .discount {
    border-right: 1px solid lightgray; }

  .shipping label {
    float: left;
    width: 100px;
    padding-right: 10px;
    text-align: right; }

  .shipping .input-box {
    float: left; }

  .shipping .buttons-set {
    clear: both;
    margin-top: 20px; }

  /* ======================================================================================= */
  /* CART TOTALS =========================================================================== */
  .flexible-checkout-parent-container .totals {
    text-align: center; }

  .flexible-checkout-parent-container .totals table {
    margin-left: auto;
    margin-right: auto; }

  /* ======================================================================================= */
  /* CART CROSSSELL ==================================================================== */
  /*    .flexible-cart-crosssell-parent-container{
          display: inline-flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
  
          für Google Chrome
          display: -webkit-flex;
          -webkit-flex-direction: row;
          -webkit-flex-wrap: nowrap;
          -webkit-justify-content: space-between;
  
          für Firefox
          display: -moz-box;
          -moz-box-direction: row;
          -moz-box-wrap: nowrap;
          -moz-justify-content: space-between;
      }*/
  .flexible-cart-crosssell-item {
    padding: 0 5%;
    display: inline-flex;
    display: -webkit-flex;
    /*display: -moz-box;*/
    display: -ms-flexbox;
    display: -ms-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    /*    -moz-box-direction: row;
        -ms-box-orient: horizontal;
        
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;*/
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-box-wrap: nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -ms-box-align: stretch; }

  .checkout-crosssell-wrapper {
    width: 100%; }

  .flexible-cart-crosssell-item .product-image {
    width: 30%; }

  .flexible-cart-crosssell-item .product-details {
    width: 60%; }

  /* ======================================================================================= */ }
