@media screen and (min-width: 800px) {
    /* LAYOUT ================================================================================ */
    .page{
        padding-bottom: 130px; /*to prevent footer from overflow content*/
    }
    footer{
        height: 130px;
    }
    .right-sidebar .actions button{
        padding: 5px;
        border-radius: 5px;
    }
    /* ========================================================================================= */

    /* HEADER ================================================================================ */
    .top-links li {
        display:inline;
        padding-right: 2%;
    }
    #cart-icon img{
        display: none;
    }
    .open-menu-button, .close-menu-button{
        display: none;
    }
    .toplinks-flex-parent-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: nowrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: center;
        -webkit-align-items: center;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: nowrap;
        -moz-box-direction: row;
        -moz-justify-content: center;
        -moz-align-items: center;
    }
    .toplinks-flex-parent-container div, .toplinks-flex-parent-container li{
        padding-right: 20px;
    }
    /* ======================================================================================= */

    /* FOOTER ================================================================================ */
    .footer-flex-parent-container, .footer-cms-flex-parent-container{
        margin-top: 20px;
        display: inline-flex; /*Darstellung der Items in einer Reihe*/
        flex-direction: row; /*bestimmt Richtung der main-axis*/
        flex-wrap: wrap; /*Single line*/
        justify-content: space-around; /*float der items*/

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-around;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: row;
        -moz-justify-content: space-around;
    }
    /* ======================================================================================= */
    
    /* PRODUCT PAGE ================================================================== */
    .product-name h1{
        text-align: center;
        letter-spacing: 0.1em;
        text-shadow: #D6CECE 3px 2px;;
    }
    .product-description-and-stock-wrapper .short-description{
        width: 50%;
    }
    .product-description-and-stock-wrapper .product-type-data-wrapper{
        margin: 20px 0;
        padding: 5px;
    }
    .product-description-and-stock-wrapper .short-description, 
    .product-description-and-stock-wrapper .product-type-data-wrapper{
        float: left;
    }
    .add-to-box{
        clear: both;
    }
    .flexible-product-shop-parent-container{
        display: flex-inline;
        flex-direction: row;
        /*justify-content: space-around;*/ 

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-direction: row;
        /*-webkit-justify-content: space-around;*/

        /*Firefox*/
        display: -moz-box;
        -moz-box-direction: row;
        /*-moz-justify-content: space-around;*/
    }
    .flexible-product-information{
        flex-grow: 2;

        /*für Google Chrome*/
        -webkit-flex-grow: 2;

        /*für Firefox*/
        -moz-flex-grow: 2;
    }
    .add-to-cart input{
        width: 70px;
    }
    .link-wishlist{
        float: left;
    }
/*    .flexible-related-parent-div .product{
        width: 50%;
    }*/
.flexible-related-parent-div input{
    width: 6%;
}
.flexible-related-parent-div .product-image{
    width: 30%;
}
.flexible-related-parent-div .product-details{
    width: 60%;
}
    .add-to-box{
        /*float: left;*/
        clear: both;
        /*width: 50%;*/
    }
    .product-type-data-wrapper{
/*        float: left;
        width: 40%;
        margin-left: 5%;*/
    }
    .ratings{
        clear: both;
        margin-top: 20px;
    }
    .short-description{
        margin-bottom: 20px;
    }
    #description-down-icon, #additional-down-icon{
        display: none;
    }
    
    .product-collateral{
        clear: both;
    }
    /* ======================================================================================= */
    
    /* CONFIGURABLE PRODUCT PAGE ============================================================= */
    .flexible-grouped-items-container, .flexible-grouped-items-container-header{
        margin-top: 20px;
        
        display: flex-inline;
        flex-direction: row;
        justify-content: space-between;

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-between;

        /*Firefox*/
        display: -moz-box;
        -moz-box-direction: row;
        -moz-justify-content: space-between;
    }
    .flexible-grouped-items-container-header{
        font-weight: bold;
    }
    .flexible-grouped-items-container .product-name{
        width: 20%;
    }
    .flexible-grouped-items-container #qty{
        width: 20%;
    }
    .flexible-grouped-items-container #qty input{
        width: 50%;
    }
    /* ======================================================================================= */

    /* PRODUCT OPTIONS ======================================================================== */
    .product-options{
        clear: both;
        /*float: left;*/
    }
    .product-options dl{
        margin-bottom: 0;
    }
    .product-options select{
        width: auto;
    }
    .product-options-bottom .add-to-links{
        text-align: left;
        margin-left: 25%;
        margin-top: 10px;
    }
    /* ======================================================================================= */

    /* PRODUCT IMAGES ======================================================================== */
    .flexible-product-img-item{
        max-width: 40%;
    }
    .product-img-box{
        margin-right: 10%;
    }
    .es-carousel ul li{
        height: auto !important;
    }
    /* ======================================================================================= */

    /* PRODUCT REVIEWS ======================================================================== */
    .box-reviews table{
        width: 60%;
    }
    .box-reviews table th{
        width: 5%;
    }
    .box-reviews span{
        width: 10%;
        margin: 0 5px 0 5px;
    }
    .box-reviews tbody .value{
        text-align: center;
    }
    .box-reviews .form-list li{
        list-style: none;
    }
    .box-reviews .form-list em{
        margin-right: 5px;
    }
    .box-reviews .form-list label{
        font-weight: bold;
    }
    /* ======================================================================================= */

    /* CATEGORY DIV ON HOME PAGE ============================================================ */
    .home-categories-flex-parent-container{
        display: flex-inline;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
        align-items: stretch;
        align-content: space-around;

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: flex-start;
        -webkit-align-items: stretch;
        -webkit-align-content: space-around;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: row;
        -moz-justify-content: space-around;
        -moz-align-items: stretch;
        -moz-align-content: space-around;
    }
    .home-categories-flex-item{
        width: 20%;
        padding: 2% 2.5% 2% 2.5%;
    }
    .category-name span{
        display: none;
    }
    .home-categories-flex-item .category-image{
        display: block;
    }
    .category-image img{
        max-width: 90%;
    }
    /* ======================================================================================= */


    /* PRODUCT TOP ================================================================ */
    .pages{
        text-align: center;
    }
    /* ======================================================================================= */

    /* PRODUCT TOOLBAR ================================================================ */
    .toolbar-flex-parent-container .limiter select{
        width: 80px;
    }
    .sort-by label, .limiter label{
        float: left;
        padding-top: 5px;
        padding-right: 2px;
    }
    .pages-amount{
        text-align: center;
    }
    .toolbar-select-menus .limiter{
        float: left;
    }
    .toolbar-select-menus .sorter{
        float: left;
    }
    .toolbar-select-menus .limiter, .toolbar-select-menus .sorter{
        text-align: center;
        width: 50%;
    }
    /* ============================================================================== */

    /* CATEGORY PRODUCT GRID ================================================================ */
    .products-grid-flex-parent-container{
/*        margin-left: 5%;
        margin-right: 5%;*/
        box-shadow: 5px 5px 5px grey;

        display: flex-inline;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
        align-items: stretch;
        align-content: stretch;

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: flex-start;
        -webkit-align-items: stretch;
        -webkit-align-content: stretch;

        /*Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: row;
        -moz-justify-content: flex-start;
        -moz-align-items: stretch;
        -moz-align-content: stretch;
    }
    .products-grid-flex-item{
        width: 22%;
        min-width: 22%;
        text-align: center;
        padding: 10px 10px 10px 10px;
        border: 1px solid #D6CECE;
        background-color: #FCF7F7;
    }
    .price-box .regular-price, .price-box .minimal-price{
        font-weight: bold;
    }
    .price-box .minimal-price{
        margin: 0;
    }
    #add-to-cart-icon{
        display: none;
    }

    /* CATEGORY FILTER MENU ======================================================== */
    .filter-menu-trigger-selector{
        display: none;
    }
    #filter-menu-selector{
        display: block;
    }
    /* ============================================================================== */

    /* CAROUSEL ===================================================================== */
 
    /* ============================================================================== */

    /* CART PAGE ========================================================================= */
    .flexible-checkout-parent-container{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: nowrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: flex-start;
        -webkit-align-items: flex-start;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: nowrap;
        -moz-box-direction: row;
        -moz-justify-content: flex-start;
        -moz-align-items: flex-start;
    }
    .cart #cart-item-form{
        box-shadow: 0 0 5px 5px grey;
        width: 80%;
    }
    /* ======================================================================================= */

    /* CART TABLE ========================================================================= */
    .cart form{
        clear: both;
    }
    #shopping-cart-table button span{
        font-size: 1rem;
        font-family: 'kaffeesatzregular';
        letter-spacing: 0.05em;
    }
    .cart-delete-item-icon{
        display: none;
    }
    .cart-edit-item-icon{
        display: none;
    }
    /* ======================================================================================= */

    /* CART BUTTON ======================================================================= */
    .checkout-types{
        float: right;
    }
    /* ======================================================================================= */
    
    /* CART CROSSSELL ==================================================================== */
    .flexible-checkout-parent-container .crosssell{
        box-shadow: 0 0 5px 5px grey;
    }
    .checkout-crosssell-wrapper{
        width: 30%;
        margin-right: 5%;
    }
    .checkout-coupon-wrapper{
        width: 30%;
        margin-right: 5%;
        text-align: center;
        box-shadow: 0 0 5px 5px grey;
    }
    .flexible-checkout-parent-container .totals{
        text-align: center;
    }    
    .flexible-cart-crosssell-item a{
        width: 30%;
    }
    .flexible-cart-crosssell-item .product-details{
        width: 70%;
    }
    /* ======================================================================================= */
}



