@media screen and (max-width: 480px) {
    /* MAIN ======================================================================== */
    
    
    /* ============================================================================= */
    
    /* RESPONSIVE LAYOUT =========================================================== */
    header{
        background-color: #111111;
    }
    .page{
        padding-bottom: 250px; /*to prevent footer from overflow content*/
    }
    footer{
        background-color: #111111;
        width: 98%;
        padding: 2% 0 0 2%;
    }
    .flexible-main-parent-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: nowrap;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;
        -webkit-align-items: flex-start;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: nowrap;
        -moz-box-direction: column;
        -moz-justify-content: flex-start;
        -moz-align-items: flex-start;
    }
    .left-sidebar{
        width: 100%;
        min-width: 90%;
        max-width: 90%;
        margin: 0 5% 0 5%;
        box-shadow: none;
/*        float: none;
        padding-bottom: 20px;*/
    }
    .right-sidebar{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        border: none;
        box-shadow: none;
    }
    .col-main{
        width: 100%;
        float: none;
    }
    /* ==================================================================================== */
    /* RIGHT SIDEBAR LAYOUT ===================================================================== */
    #responsive-right-sidebar-layout .main-container{
        margin: 0;
    }
    /* ========================================================================================== */

    /* THREE COLUMNS LAYOUT ===================================================================== */
    #responsive-three-columns-layout .main-container{
        /*margin: 0 5% 0 5%;*/
        min-width: 100%;
    }
    /* ==================================================================================== */

    /* TOP LINKS =========================================================== */
    #cartDiv{
        width: 40px;
        height: 30px;
        cursor: pointer;
        margin: 2% 5% 0 2%;
    }
    #cart-icon img{
        display: block;
        float: left;
    }
    #cart-text{
        display: none;
    }
    .toplinks-flex-parent-container{
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap; 
        align-items: center;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-align-items: center;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: column;
        -moz-align-items: center;
    }
    .toplinks-flex-parent-container div, .toplinks-flex-parent-container li{
        padding-top: 5px;
        width: 100%;
        text-align: center;

        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    } 
    .toplinks-flex-parent-container div:hover, .toplinks-flex-parent-container li:hover{        
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    } 

    /* TOGGLE MAIN MENU ======================================================================*/
    .wrapper{
        padding-top: 1px; /*verhindert das rutschen*/
    }
    #nav-wrap{
        left: 0;
        position: absolute;
        top: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: #474024;
    }
    .close-menu-button{
        display: none;
    }
    .open-menu-button{
        display: block;
    }
    /*open menu*/
    #menu-open:target #nav-wrap{
        height: 5rem;
    }
    #menu-open:target .header-flex-parent-container{
        margin-top: 5rem; /*Seite nach unten schieben, wegen einblenden der navi*/
    }
    #menu-open:target .close-menu-button{
        display: block;
    }
    #menu-open:target .open-menu-button{
        display: none;
    }
    /*close menu*/
    #menu-close:target #nav-wrap{
        height: 0;
    }
    #menu-close:target .header-flex-parent-container{
        margin-top: 0; /*Seite nach unten schieben, wegen einblenden der navi*/
    }
    #nav-wrap, .header-flex-parent-container{
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    }
    /* =================================================================================*/

    /* HEADER =========================================================================== */
    .header-flex-child-nav{
        order: 1; /*an erste stelle verschieben*/
        flex-grow: 0; /*Spalte für nav wieder kleiner*/

        /*für Google Chrome*/
        -webkit-flex-grow: 0;
        -webkit-order: 1;
    }
    .header-flex-child-logo{
        width: 30%;
        
        order: 2; /*an erste stelle verschieben*/

        /*für Google Chrome*/
        -webkit-order: 2;
    }
    .header-flex-child-cart{
        order: 3; /*an erste stelle verschieben*/

        /*für Google Chrome*/
        -webkit-order: 3;
    }
    /* =================================================================================*/

    /* SEARCH FORM IN HEADER ================================================================================ */
    .search-flex-parent-container{
        padding: none;
        
        justify-content: space-around; 
        align-items: center; 

        /*für Google Chrome*/
        -webkit-justify-content: space-around;
        -webkit-align-items: center;

        /*für Firefox*/
        -moz-justify-content: space-around;
        -moz-align-items: center;
    }

    /* BREADCRUMBS ================================================================================ */
    .breadcrumbs{
        margin-top: 5%;
    }
    /* ======================================================================================= */

    /* CATALOG PRODUCT PAGE ================================================================================ */
    .add-review-icon{
        width: 35px;
        height: 30px;
        background: url(../images/add_icon_tall.png) no-repeat scroll 5px center #ECEBEB;
        cursor: pointer;
        border: solid 1px #666;
        border-radius: 5px;
    }

    .add-review-icon{
        float: left;
    }
    #product-description-header, #product-additional-header{
        background-color: #F5EDD5;
        background-image: -webkit-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        background-image: -moz-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        background-image: -ms-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        background-image: -o-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        height: 30px;
    }
    #product-description-header:hover, #product-additional-header:hover{
        background-color: #F5EDD5;
        background-image: -webkit-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        background-image: -moz-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        background-image: -ms-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        background-image: -o-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        color: #111;
    }
    #product-description-header span, #product-additional-header span{
        clear: both;
        float: none;
        font-size: 12pt;
    }
    #product-description-header img, #product-additional-header img{
        width: 30px;
        height: 20px;
        margin: 5px 10px 5px 0;
        float: right;
    }
    #description-content-hidden{
        display: none;
    }
    #product-attribute-specs-table{
        display: none;
    }
    #description-down-icon, #additional-down-icon{
        cursor: pointer;
    }
    .short-description{
        margin: 0 10px 0 10px;
        /*font-family: sans-serif;*/
        font-size: 1.166666667em; /*14px / 12px*/
    }
    .add-to-cart input{
        width: 30%;
    }
    .bjqs li img{
        width: 10%;
    }
    .flexible-product-shop-parent-container{
        display: flex;
        flex-direction: column;
        justify-content: center; 

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
    }
    .flexible-product-saleable-item{
        width: 100%;
    }
    .right-sidebar .block-cart{
        display: none;
    }
    .block-compare{
        clear: both;
        margin-top: 20px;
    }
    .flexible-product-saleable-item{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center; 
        align-content: space-around; 
        
        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -webkit-justify-content: center;
        -webkit-align-content: space-around; 
        
        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: nowrap;
        -moz-box-direction: column;
        -moz-justify-content: center;
        -moz-align-content: space-around; 
    }
    .add-to-links li{
        float: left;
    }
    .product-type-data-wrapper{
        clear: both;
    }
    .price-box{
        font-weight: bold;
    }
    .flexible-related-parent-div .product{
        width: 40%;
    }
    /* ===================================================================== */

    /* CATEGORY DIVS ======================================================= */
    .home-categories-flex-parent-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        flex-wrap: nowrap;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;
        -webkit-flex-wrap: nowrap;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: nowrap;
        -moz-box-direction: column;
        -moz-justify-content: flex-start;
    }
    .home-categories-flex-item{
        width: 100%;
    }
    .home-categories-flex-item h1{
        font-size: 1.5rem;
    }
    .home-categories-flex-item .category-image{
        display: none;
    }
    .category-image{
        display: none;
    }
    .category-name{
        float: none;
        color:#fff;
        padding: 2% 2%;
        display: block;
        background-color: #F5EDD5;
        background-image: -webkit-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        background-image: -moz-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        background-image: -ms-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
        background-image: -o-linear-gradient(top, #F5EDD5, #EBD6B5 80%);
    }
    .category-name:hover{
        background-color: #F5EDD5;
        background-image: -webkit-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        background-image: -moz-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        background-image: -ms-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        background-image: -o-linear-gradient(top, #F5EDD5, #EBD6B5 40%);
        color: #111;
    }
    .category-name span{
        display: block;
        float: right;
        margin-right: 15px;
    }
    /* ======================================================================================= */
    
    /* FOOTER ================================================================================ */
    #footer_adress{
        color: #fff;
    }
    .footer-flex-parent-container, .footer-cms-flex-parent-container{
        display: flex-inline; /*Darstellung der Items in einer Reihe*/
        flex-direction: row; /*bestimmt Richtung der main-axis*/
        flex-wrap: wrap; /*Single line*/
        justify-content: flex-start; /*float der items*/

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: flex-start;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: row;
        -moz-justify-content: flex-start;
    }
    .footer-flex-item, .footer-cms-flex-item{
        width: 50%;
    }
    /* ======================================================================================= */

    /* CATALOG DEFAULT PAGE ======================================================= */
    .products-grid-flex-parent-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;

        /*Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: column;
        -moz-justify-content: flex-start;
    }
    .limiter select{
        width: 30%;
    }
    .products-grid-flex-item{
        /*clear: both;*/
        /*width: 100%;*/
        text-align: center;
        margin-top: 20px;
    }
    .catalog-category-view .right-sidebar{
        display: none;
    }
    .catalog-category-view .left-sidebar{
        width: 100%;
    }
    .product-image img{
        float: left;
        width: 30%;
    }
    .product-grid-information-wrapper{
/*        clear: both;*/
        float: left;
        margin-left: 5%;
        width: 60%;
    }
    .products-grid-wrapper{
        clear: both;
    }
    /* ======================================================================================= */

    /* CAROUSEL ======================================================= */
    .home-slider-wrapper{

    }
    .carousel-figure{
        border: 0.2px solid grey;
        box-shadow: 5px 5px 5px grey;
    }
    .carousel img {
        max-width: 100%;
    }
    .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
    }
    .carousel-caption h1 {
        font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 18px;
    }
    /* ====================================================================== */

    /* CATEGORY FILTER MENU =================================================== */
    .filter-menu-trigger-selector{
        display: block;
        width: 70%;
    }
    #filter-menu-selector{
        display: none;
    }
    #jPanelMenu-menu{
        width: 100% !important;
        overflow-y: auto !important;
    }
    /* ====================================================================== */
}