@media screen and (min-width: 480px) and (max-width: 800px) {
    /* LAYOUT ================================================================================ */
    .page{
        padding-bottom: 130px; /*to prevent footer from overflow content*/
    }
    footer{
        height: 130px;
    }
    /* ========================================================================================= */

    /* HEADER =========================================================================== */
    .header-flex-child-nav{
        order: 1; /*an erste stelle verschieben*/
        flex-grow: 0; /*Spalte für nav wieder kleiner*/

        /*für Google Chrome*/
        -webkit-flex-grow: 0;
        -webkit-order: 1;
    }
    .header-flex-child-logo{
        width: 30%;
        order: 2; /*an erste stelle verschieben*/

        /*für Google Chrome*/
        -webkit-order: 2;
    }
    .header-flex-child-cart{
        order: 3; /*an erste stelle verschieben*/

        /*für Google Chrome*/
        -webkit-order: 3;
    }
    /* ================================================================================== */
    
    /* TOP LINKS =========================================================== */
    #cartDiv{
        width: 40px;
        height: 30px;
        cursor: pointer;
        margin: 2% 5% 0 2%;
    }
    #cart-icon img{
        display: none;
    }
    .toplinks-flex-parent-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-align-items: center;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: column;
        -moz-align-items: center;
    }
    .toplinks-flex-parent-container div, .toplinks-flex-parent-container li{
        padding-top: 5px;
        width: 100%;
        text-align: center;

        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    } 
    .toplinks-flex-parent-container div:hover, .toplinks-flex-parent-container li:hover{        
        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);
    } 
    /* =================================================================================*/
    
   
    /* FOOTER ================================================================================ */
    .footer-flex-parent-container, .footer-cms-flex-parent-container{
        margin-top: 20px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        /*für Google Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-around;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: row;
        -moz-justify-content: space-around;
    }
    /* ======================================================================================= */
    
    /* TOGGLE MAIN MENU ======================================================================*/
    .wrapper{
        /*position: relative;*/
        padding-top: 1px; /*verhindert das rutschen*/
    }
    #nav-wrap{
        left: 0;
        position: absolute;
        top: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: #474024;
    }
    .close-menu-button{
        display: none;
    }
    /*open menu*/
    #menu-open:target #nav-wrap{
        height: 5rem;
    }
    #menu-open:target .header-flex-parent-container{
        margin-top: 5rem; /*Seite nach unten schieben, wegen einblenden der navi*/
    }
    #menu-open:target .close-menu-button{
        display: block;
    }
    #menu-open:target .open-menu-button{
        display: none;
    }
    /*close menu*/
    #menu-close:target #nav-wrap{
        height: 0;
    }
    #menu-close:target .header-flex-parent-container{
        margin-top: 0; /*Seite nach unten schieben, wegen einblenden der navi*/
    }
    #nav-wrap, .header-flex-parent-container{
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    }
    /* =================================================================================*/
    
    /* CATEGORY DIV ONE HOME PAGE ============================================================ */
    .home-categories-flex-parent-container{
        display: flex-inline;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
        align-items: stretch;
        align-content: space-around;

        /*Chrome*/
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-around;
        -webkit-align-items: stretch;
        -webkit-align-content: space-around;

        /*für Firefox*/
        display: -moz-box;
        -moz-box-wrap: wrap;
        -moz-box-direction: row;
        -moz-justify-content: space-around;
        -moz-align-items: stretch;
        -moz-align-content: space-around;
    }
    .home-categories-flex-item{
        width: 45%;
        margin: 2% 1% 0 1%;
/*        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -moz-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -ms-linear-gradient(top, #F7EDF0, #F7E4E8);
        background-image: -o-linear-gradient(top, #F7EDF0, #F7E4E8);*/
    }
    .home-categories-flex-item:hover{
/*        background-color: #630B20;
        background-image: -webkit-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -moz-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -ms-linear-gradient(top, #FADCE3, #FABECC);
        background-image: -o-linear-gradient(top, #FADCE3, #FABECC);*/
    }
    .category-name h4{
        text-align: center;
        font-weight: bold;
    }
    .category-name span{
        display: none;
    }
    .home-categories-flex-item .category-image{
        display: block;
    }
    .category-image img{
        max-width: 90%;
    }
    /* ======================================================================================= */

}    