<?xml version="1.0" ?>
<config>
    <!-- information of extension -->
    <modules>
        <Sdrost_Responsive>
            <version>0.0.1</version>
        </Sdrost_Responsive>
    </modules>
    
    <!-- controller for admin panel -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- route to my controllers first then fall back -->
                        <!-- defines the route for the admin controllers -->
                        <responsive before="Mage_Adminhtml">Sdrost_Responsive_Adminhtml</responsive>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <!-- add new responsive layout page -->
    <global>
        <page>
            <layouts>
                <responsive_layout_index module="page" translate="label">
                    <label>Responsive Layout Home Page</label>
                    <template>page/responsive-page.phtml</template>
                    <layout_handle>responsive_layout_index_page</layout_handle>
                </responsive_layout_index>
            </layouts>
        </page>
        
        <!-- define block path -->
        <blocks>
            <responsive>
                <class>Sdrost_Responsive_Block</class>
            </responsive>
        </blocks>
        
        <!-- define helpers -->
        <helpers>
            <responsive>
                <class>Sdrost_Responsive_Helper</class>
            </responsive>
        </helpers>
    </global>
    
    
</config>
